#------------------
# HTTP
#------------------
requests


#------------------
# REST API
#------------------
slumber


#------------------
# Parsing
#------------------
simplejson


#------------------
# Testing
#------------------
mock
